:root {
  --bg-color-section: black;
  --bg-color-section-2: #FAFAFA;
  --bg-comments-color: #DADADA;
  --bg-color: #FFF;
  --svg-logo-text-color: #121212;
  --text-color: #121212;
  --text-red-color: #FF5634;
  --text-gray-color: #656565;
  --white-color: #FFF;
  --horisontal-line: #CACACA;
}

button {
  padding: 1em 2em;
  margin: 0;
  border: 1px solid #ededed;
  background-color: var(--white-color);
  /* background-color: transparent; */
  border-radius: .75rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1.6em;
  color: var(--text-color);
  transform-origin: center center;
  transition: 240ms ease-out;
  text-align: center;
  white-space: nowrap;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

