.section_about {
    margin-top: 19.7em;
}

.about_delivery {
    margin-top: 20.3em;
}

.text_how_it_works {
    font-size: 1.8em;
    text-align: center;
    font-style: normal;
    text-transform: uppercase;
    margin: 0;
    color: var(--text-red-color);
    font-style: normal;
    font-weight: 400;
    line-height: 19.998px;
    letter-spacing: 1.08px;
}

.text_our_smile {
    text-align: center;
    font-size: 4.4em;
    margin-top: 0.2em;
    margin-bottom: 0;
    line-height: 1.2em;
    color: var(--text-color);
    font-style: normal;
    font-weight: 700;
}

.text_lorem_ispum {
    text-align: center;
    font-size: 1.2em;
    font-style: normal;
    margin-top: 1.8em;
    color: var(--text-gray-color);
    font-style: normal;
    font-weight: 400;
    line-height: 30.006px;
}

.steps {
    display: flex;
    justify-content: space-between;
    margin-top: 10em;
    flex-wrap: wrap;
}


.rectangle_with_buttons_in_steps {
    margin-top: 2.7em;
    display: flex;
    width: auto;
    justify-content: center;
    margin-bottom: 19em;
    padding-bottom: 0;
}


@media screen and (min-width: 300px) and (max-width: 1439px) {
    .steps {
        justify-content: center;
        gap: 10em;
    }
}

@media (max-width: 768px) {
    .steps {
        margin-top: 5em;
    }
}

@media (max-width: 500px) {
    .text_how_it_works {
        margin-bottom: 20px;
        font-size: 1.4em;
    }

    .text_main_discript {
        font-size: 25px;
        margin: 0;
        line-height: 35px;
    }

    .text_after_main_discript {
        font-size: 14px;
    }

    .div_in_step {
        text-align: center;
    }
}